.header {
  background-color: #101b21;
  border-bottom: 1px solid #1c313b;
  padding: 20px;
  font-family: "WorkSans-Bold";
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header > img {
  height: 45px;
}

@media only screen and (max-width: 1366px) {
  .header > img {
    height: 32px;
  }
}
