.header {
  background-color: #101b21;
  border-bottom: 1px solid #1c313b;
  padding: 20px;
  font-family: "Roboto-Light";
  color: rgb(153, 153, 163);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header > img {
  height: 45px;
}

.helper-button {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  font-family: "WorkSans-Bold";
  text-align: center;
  padding-top: 11px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #101b21;
  position: absolute;
  top: calc(100vh - 80px);
  right: 25px;
  transition: background-color 0.2s;
}
.helper-button:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

.open-viewer {
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  border: 1px solid #1c313b;
  z-index: 100;
  padding: 11px 20px;
}

.open-viewer:hover {
  cursor: pointer;
  border: 1px solid #557381;
}

@media only screen and (max-width: 900px) {
  .header {
    text-align: left;
    padding-right: 160px;
    font-size: 14px;
  }

  .header > img {
    height: 30px;
  }
}
